.first-title{
 
    margin: 0 auto;
    max-width: 1205px;
    width: 100%;
    padding-bottom: 66px;
    margin-top: 24px;
    .wrapper{
        padding:0 25px;
    }
    // @media screen and (max-width:475px){
    //     padding: 26px 16px;
    // }
    &__content{
        display:flex;
        column-gap: 40px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 28px;
        color: #575756;
        font-weight: 400;
        @media screen and (max-width:766px){
            flex-direction: column;
        }
        
    }
    &__heading{
        margin-bottom: 22px;
        font-size: 49px;
        letter-spacing: 0px;
        line-height: 86px;
        color: #53686c;
        font-weight: 700;
    }
}
