footer{
    width:100%;
    margin:0 auto;
    background-color: #53686c;
    height:75px;
    p{  
        margin-left:80px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 75px;
        color: #fffefe;
        font-weight: 400;
        @media screen and (max-width:1300px) {
            text-align: center;
            margin-left: 0;
        }
    }
}