.gallery{
    display:grid;
    margin:0 auto;
    grid-template-columns: repeat(3,1fr);
    column-gap: 70px;
    row-gap: 70px;
    max-width:1366px;
    padding:70px 25px;

    @media screen and (max-width:1300px) {
        grid-template-columns: repeat(2,1fr);     
    }
    @media screen and (max-width:767px) {
        grid-template-columns: repeat(1,1fr);     
    }

    &__image-wrapper{
        width:100%;
        height: 400px;
        position: relative;
        overflow:hidden;
        cursor: pointer;
    }

    img{
        width:100%;
        height:100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        
    }
}