.header {
    position: absolute;
    width: 100%;
    top: 58px;
    left: -13px;
    z-index: 3;

    @media screen and (max-width:1300px) {
        top: 0;
        left: 0;
    }

    .drop-down {
        position: absolute;
        visibility: hidden;
        left: -10px;
        list-style: none;
        width: 170px;
        background-color: #dfdede;
        border-radius: 7px;
        overflow: hidden;
        font-size: 25px;
        font-weight: 700;
        filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.35));
        

        @media screen and (max-width:1300px) {
            visibility: visible;
            left: 50px;
            position: relative;
            width: 100%;
            background: none;
            border: none;
            filter: none;
            font-size: 20px !important;
            text-align: left;
            pointer-events: none;
        }

        li {
            @media screen and (min-width:1300px) {

                &:hover {
                    background-color: black;
                    color: white;
                }
            }

        }

    }

    .logo {
        max-width: 422px;
        width: 100%;
        height: 80px;
        font-size: 50px;
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 75px;
        color: #000000;
        white-space: nowrap;
        z-index: 3;

        @media screen and (max-width:767px) {
            font-size: 30px;
        }
    }


    .hamburger-wrapper {
        display: none;
        position: absolute;
        top: 25px;
        right: 15px;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        cursor: pointer;
        transition: all .5s;
        z-index: 3;

        @media screen and (max-width:1300px) {
            display: flex;
        }
    }

    .hamburger {
        display: none;
        height: 2px;
        background: #212121;
        width: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        transition: all .5s;
    }

    .hamburger::before {
        content: ' ';
        position: absolute;
        display: inline-block;
        height: 2px;
        background: #212121;
        transform: translateY(-4px);
        width: 20px;
        transition: all .5s;
    }

    .hamburger::before {
        top: -2px;
    }

    .navigation {
        display: flex;
        max-width: 1184px;
        width: 100%;
        margin: 0 auto;
        padding: 0 25px;
    }

    .menu {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 590px;
        width: 100%;
        margin-left: auto;
        transition: 0.6s opacity 0.3s;
        height: 100%;
        visibility: visible;
        opacity: 1;


        @media screen and(max-width:1300px) {
            position: fixed;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            height: 0;
            opacity: 0;
            top: 50%;
            left: 50%;
            max-width: 100%;
            transform: translate(-50%, -50%);
            background-color: black;
            z-index: 1;
            color: white;
        }

        &__item {
            position: relative;
            z-index: 3;
            font-size: 25px;
            letter-spacing: 0px;
            line-height: 45px;
            font-weight: 800;
            text-transform: uppercase;
            top: 25px;
            width: 100%;
            z-index: 2;
            text-align: center;
            transition: 0.3s color 0.3s background-color;
            cursor: pointer;

            @media screen and (min-width:1300px) {
                &:hover {
                    .drop-down {

                        visibility: visible;
                    }
                }
            }

            @media screen and (max-width:1300px) {
                width:200px;
                font-size: 20px;
                line-height: 25px;
                transform: translateY(10px);
                color: transparent;
                p{
                    text-align: left;
                }
            }
        }
    }
}

@media screen and(max-width:1300px) {
    .active {
        overflow: hidden;
        .drop-down{
            pointer-events: initial;
        }
        .hamburger {
            transform: rotate(45deg);
            background: white;
        }

        .hamburger::before {
            top: unset;
            transform: rotate(-90deg);
            background: white;
        }

        &:hover .hamburger::before {
            top: unset;
        }

        .navigation {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 100%;
            flex-direction: column;
            opacity: 0.9;
        }
        .logo{
            color: white;
            transition: 0.3s color 0.3s;
        }
        .menu {
            position: absolute;
            height: 100%;
            visibility: visible;
            opacity: 1;
            transition: 0.6s opacity;

            &__item {
                color: white;
                transition: 0.6s color;
                transform: translateY(-20px);
            }

        }
    }
}
@media screen and(max-width:1300px) {
    .active {
        overflow: hidden;

        .drop-down {
            pointer-events: initial;
        }

        .hamburger {
            transform: rotate(45deg);
            background: white;
        }

        .hamburger::before {
            top: unset;
            transform: rotate(-90deg);
            background: white;
        }

        &:hover .hamburger::before {
            top: unset;
        }

        .navigation {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 100%;
            flex-direction: column;
            opacity: 0.9;
        }

        .logo {
            color: white;
            transition: 0.3s color 0.3s;
        }

        .menu {
            position: absolute;
            height: 100%;
            visibility: visible;
            opacity: 1;
            transition: 0.6s opacity;

            &__item {
                color: white;
                transition: 0.6s color;
                transform: translateY(-20px);
            }

        }
    }
}