.hero {
    position: relative;
    height: 761px;
    width: 100%;
    background-image: url('../images/content/seacost.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @media screen and (max-width:767px){
        height: 100vh;

    }
    @media screen and (max-width:475px){
    background-position-y: 80%;
    background-size:unset;
    }
    &__content {
        position: absolute;
        bottom: 174px;
        right: 347px;
        width: 100%;
        max-width: 335px;
        color: white;
        @media screen and (max-width:767px){
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
        }
        @media screen and (max-width:475px){
            top:unset;
            bottom:0;
        }
       
    }

    &__heading {
        font-size: 50px;
        letter-spacing: 0.5px;
        line-height: 55px;
        font-weight: 800;
        @media screen and (max-width:475px){
            padding: 0 16px;
            font-size: 35px;
        }
    }

    &__subtext {
        margin-top: 0px;
        font-size: 21px;
        font-weight: 600;
        max-width: 260px;
        width: 100%;
        position: relative;
        top: 13px;
        line-height: 32px;
        @media screen and (max-width:475px){
            padding:0 16px;
            font-size: 16px;
            
        }
    
    }


    &__button {
        position: absolute;
        border: 3px solid white;
        width:167px;
        height:47px;
        border-radius: 20px;
        text-transform: Uppercase;
        line-height: 42px;
        text-align: center;
        right: -112px;
        bottom: -8px;
        font-size: 24px;
        font-weight: 800;
        z-index: 2;
        transition: 0.3s all;
        @media screen and (max-width:767px){
            bottom:-50%;
            left:50%;
            transform:translate(-50%,-50%);
        }
        @media screen and (max-width:475px){
            font-size: 20px;
        }
        &:hover{
            color:black;
            background-color:white;
            transition: 0.3s all;
          
        }
    }
}

