#lightbox {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 100;

    &.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.lightbox-img {
    max-width: 80%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .closing {
        content: "";
        width: 21px;
        height: 21px;
        position: absolute;
        top: -34px;
        right: 5px;
        cursor: pointer;
        // border: 2px solid red;
        // overflow: hidden;

        &:after {

            content: "";
            position: absolute;
            top: 3px;
            right: 3px;
            width: 27px;
            height: 27px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-top: 2px solid black;
            z-index: 9999;

        }

        &:before {
            content: "";
            position: absolute;
            top: 3px;
            right: -16px;
            width: 27px;
            height: 27px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border-top: 2px solid black;
        }
    }

    img {

        max-width: 100%;
        max-height: 684px;

    }

}