.second-title{
    padding:0 25px;
    padding-top: 25px;
    padding-bottom: 80px;
    background-color: #f9f9f9;
    .wrapper{
    max-width: 1146px;
    width:100%;
    margin:0 auto;
    }


    @media screen and (max-width:475px){
        padding: 0 16px;
    }
    &__content{
        font-size: 14px;
        line-height: 1.7;
        font-weight:400;
    }
    &__heading{
        margin-bottom: 30px;
        font-size: 49px;
        font-weight: 700;
        letter-spacing: 0px;
        line-height: 86px;
        color: #53686c;
        @media screen and (max-width:475px){
            font-size: 40px;
            padding-top:30px;
        }
    }
    &__image{
        position: relative;
        float: left;
        margin-right: 40px;
        height: 255px;
        left: -2px;
        top: -6px;

        @media screen and (max-width:767px){
            width:100%;
            height:100%;
            float: none;
            margin-right:0;
            margin-bottom: 30px;
        }
        @media screen and (max-width:475px){
           
            width:100%;
            height:100%;
            clear: both;

        }
    }
    &__text{
        margin-bottom:17px;
        color: #575756;
        letter-spacing: 0.5px;
        line-height: 28px;
        font-size: 16px;
        font-weight: 300;
        
    }
    &__link{
        display:block;
        margin: 0 auto;
        margin-top:60px;
        width: 194px;
        height: 46px;
        border:3px solid #627478;
        border-radius: 20px;
        color: #627478;
        line-height:42px;
        letter-spacing: 0px;
        font-size: 24px;
        font-weight: 800;   
        text-transform: uppercase;
        text-align: center;
        transition: .3s all;
        &:hover{
            background-color: #627478;
            color:white;
            transition: .3s all;
        }
    }
    
 
   .text-wrapper{
       position: relative;
       top:-10px;
   }
}