/**
 * Fonts
 */
 @font-face {
   font-family: 'OpenSans';
   src:url("../fonts/OpenSans-Light.ttf") format("truetype");
   font-weight: 300;
 }

@font-face {
  font-family: 'OpenSans';
  src:url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: 'OpenSans';
  src:url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans';
  src:url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: 'OpenSans';
  src:url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
