*{
    margin:0;
    padding:0;

    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'OpenSans';
}
a{
 outline:none;
 text-decoration: none;
 color:inherit;   
}
.overflow-hidden{
    overflow:hidden;
}
